body{
    background-color: #ffe4b352;
      font-family: "Orbitron", sans-serif;
}


.btn-action{
    background-color: #FFDB58 !important;
    transition: 0.3s;
}

.btn-equals, .btn-operator{
     background-color: #ff9100 !important;
}

.btn-operator:hover, .btn-action:hover{
    background-color: rgb(236, 236, 236) !important;
}

.main-card{
    background-color:bisque !important;
}

.display-screen{
    background-color: rgb(255, 247, 238) !important;
}

